<!DOCTYPE html>
<html lang="ru">
    <head>
        <style>
            * {
                margin: 0;
                border: 0;
                padding: 0;
            }
        </style>
    </head>
    <body style="font-family: Arial,sans-serif; 
    font-size: 19px; 
    line-height: 1.3; 
    color: #0e1119; 
    margin: 0">
        <div class="wrapper">
            <div style="width: 800px;">
                <img src='cid:other-logo.png'>
            </div>
            <div class="text-body" style="width: 800px;
            display: table-cell;
            vertical-align: inherit;
            unicode-bidi: isolate;">
                <span style="display: block; 
                margin-block-start: 1em;
                margin-block-end: 1em; 
                margin-inline-start: 0px; 
                margin-inline-end: 0px;     
                unicode-bidi: isolate;
                margin-top: 10px;">
                    Привет!😊
                </span>
                <span style="display: block; 
                margin-block-start: 1em; 
                margin-block-end: 1em; 
                margin-inline-start: 0px; 
                margin-inline-end: 0px; 
                unicode-bidi: isolate;
                margin-top: 10px;">
                    Стартовал опрос по сбору обратной связи на сервис-менеджеров.
                    Для вашего удобства к каждому проекту уже прикреплен список кейсов за прошедший период. 
                    Отзывы собираем до 28.07.2024. 
                </span>
                <span style="display: block; 
                margin-block-start: 1em; 
                margin-block-end: 1em; 
                margin-inline-start: 0px; 
                margin-inline-end: 0px; 
                unicode-bidi: isolate;
                margin-top: 20px;">
                    Следуй инструкции:
                </span>
                <table style="border-collapse:collapse; border-width:4px;">
                    <tbody>
                        <tr>
                            <td style="width:84.65pt;padding:0 5.4pt;">
                                <div style="text-align:center;margin:0;">
                                    <img src='cid:touch-click.png'>
                                </div>
                            </td>
                            <td style="width:399.3pt;padding:0 5.4pt;">
                                <ol style="margin-top:0;margin-bottom:0;">
                                    <li style="margin-top:0;margin-bottom:0;">
                                        <p>
                                            Нажимай на картинку ниже для открытия формы
                                        </p>
                                    </li>
                                </ol>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table style="border-collapse:collapse; border-width:4px;">
                    <tbody>
                        <tr>
                            <td style="width:84.65pt;padding:0 5.4pt;">
                                <div style="text-align:center;margin:0;">
                                    <img src='cid:touch-msg.png'>
                                </div>
                            </td>
                            <td style="width:399.3pt;padding:0 5.4pt;">
                                <ol start="2"  style="margin-top:0;margin-bottom:0;">
                                    <li style="margin-top:0;margin-bottom:0;">
                                        <p>
                                            Поделись обратной связью о работе коллег, пройдя опрос.
                                            Обрати внимание, что оценить работу сервис-менеджера нужно 
                                            отдельно по каждому проекту, в котором ты участвовал.
                                        </p>
                                    </li>
                                </ol>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span style="display: block; 
                margin-block-start: 1em; 
                margin-block-end: 1em; 
                margin-inline-start: 0px; 
                margin-inline-end: 0px; 
                unicode-bidi: isolate;
                margin-top: 20px;">
                    Пожалуйста, будь активен, нам очень важна обратная связь🔥
                </span>
                <div style="text-align: center; margin-top: 10px;">
                    <a href="https://service-dtk.croc.ru/">
                        <img src='cid:touch.png' style="width: 280px; height: 180px;">
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>